.register {
  .register__container {
    .register--header {
      position: relative;
      text-align: center;
      overflow-y: hidden;
      background: linear-gradient(60deg, #872b97 0%, #ff7130 100%);

      .inner-header {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

        @include sm {
          // height: 85vh;
        }

        h1 {
          font-weight: 700;
          margin-bottom: 20px;
          font-size: $md-font;
          font-family: $nunito-font;
        }
      }
    }
  }
}