h1 {
  font-size: $xl-font;
}

h2 {
  font-size: $lg-font;
}

h3 {
  font-size: $md-font;
}

p {
  font-size: $sm-font;
}

.section--title {
  font-family: $fira-font;
  font-weight: 700;
  text-align: center;
  color: $black-color;
  @include sm{
    font-size: $md-font;
  }
}

.section--subtitle {
  font-size: $xsm-font;
  margin-top: 15px;
  text-align: center;
}
